Repository phucvinh57/fastify-template: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
    "**/*.{ts,js}": ["eslint --fix"],
    "**/*.{ts,js,json}": ["prettier --write"]
}

chore(readme.md): fix dump notes
  README.md
Due: none

chore(dependabot): config dependabot for project
  .github/dependabot.yml
Due: none

fix(dependabot.yml): wrong configuration
  .github/dependabot.yml
Due: none

fix(dependabot): change target branch
  .github/dependabot.yml
Due: none

fix(swagger): update to openapi 3
  package.json
  src/configs/index.ts
  src/configs/swagger.ts
  src/middlewares/index.ts
Due: eslint --fix, prettier --write

fix(dependabot): set target branch direct to master
  .github/dependabot.yml
Due: none

modified: .github/dependabot.yml
  .github/dependabot.yml
Due: none

feat: manage tags and versions
  .github/workflows/release.yml
  README.md
Due: none

ci(workflows): ignore workflows on release PRs
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  README.md
Due: none

fix(dependabot.yml): disable version updates for npm dependencies
  .github/dependabot.yml
Due: none

feat: add bot's PR header
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

feat(ci): adapt new ci workflows
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

fix: github actions cannot read `release` job's outputs
  .github/workflows/release.yml
Due: none

fix(ci): remove print release step outputs
  .github/workflows/release.yml
Due: none

fix(release.yml): fuking shit
  .github/workflows/release.yml
Due: none

fix(release.yml): good fix
  .github/workflows/release.yml
Due: none

fix(ci): well fix
  .github/workflows/release.yml
Due: none

Update README.md
  README.md
Due: none

ci(release): disable build package
  .github/workflows/release.yml
Due: none

chore: remove unnecessary comments
  src/Server.ts
Due: eslint --fix, prettier --write

docs(swaggers): modify swagger configs
  src/configs/swagger.ts
Due: eslint --fix, prettier --write

feat(request): write custom type for authenticated request
  src/handlers/user.handler.ts
  src/interfaces/authRequest.ts
  src/interfaces/index.ts
Due: eslint --fix, prettier --write

fix(routes): disable exposing HEAD route for each GET method
  src/utils/createPlugin.ts
Due: eslint --fix, prettier --write

feat(envs): add validations using `envalid`
  package.json
  src/Server.ts
  src/configs/env.ts
  src/constants/cookie.ts
  src/handlers/auth.handler.ts
  src/index.ts
  src/middlewares/auth.middleware.ts
  yarn.lock
Due: eslint --fix, prettier --write

feat: update template structures & code quality
  .barrelsby.json
  jest.config.js
  src/Server.ts
  src/__tests__/sample.test.ts
  src/configs/env.ts
  src/configs/errorHandler.ts
  src/configs/index.ts
  src/configs/logger.ts
  src/constants/index.ts
  src/constants/swagger.ts
  src/global.d.ts
  src/handlers/auth.handler.ts
  src/handlers/user.handler.ts
  src/hooks/index.ts
  src/hooks/verifyToken.hook.ts
  src/interfaces/authRequest.ts
  src/interfaces/handler.ts
  src/interfaces/index.ts
  src/plugins/apis/user.plugin.ts
  src/plugins/auth/index.ts
  src/repositories/prisma.ts
  src/routes/apis/index.ts
  src/routes/apis/user.plugin.ts
  src/routes/auth/index.ts
  src/routes/index.ts
  src/types/env.d.ts
  src/types/handler.d.ts
  src/utils/createRoutes.ts
  src/utils/index.ts
  src/utils/logger.ts
  tsconfig.json
Due: eslint --fix, prettier --write

chore: update all dependencies to latest
  package.json
  yarn.lock
Due: prettier --write

feat(dtos): migrate from `fluent-json-schema` to `@sinclair/typebox`
  package.json
  src/dtos/common.dto.ts
  src/dtos/in/auth.dto.ts
  src/dtos/out/auth.dto.ts
  src/dtos/out/user.dto.ts
  src/routes/apis/user.plugin.ts
  src/routes/auth/index.ts
  yarn.lock
Due: eslint --fix, prettier --write

feat(error handler): catch more cases
  src/configs/errorHandler.ts
  src/constants/errorMessages.ts
  src/handlers/auth.handler.ts
  src/utils/createRoutes.ts
Due: eslint --fix, prettier --write

Create LICENSE
  LICENSE
Due: none

fix(build product): incorrect entry file path
  Dockerfile
  docker-compose.yml
  src/configs/swagger.ts
  tsconfig.compile.json
  tsconfig.json
Due: eslint --fix, prettier --write

fix(index.ts): calling wrong method to start application
  src/index.ts
Due: eslint --fix, prettier --write

fix(project config): missing linting & testing config
  jest.config.js
  tsconfig.json
Due: eslint --fix, prettier --write

perf(request): decorate user object for each request
  src/routes/apis/index.ts
  src/routes/apis/user.route.ts
Due: eslint --fix, prettier --write

refactor: move error handler to @handlers module
  src/Server.ts
  src/configs/index.ts
  src/constants/errorMessages.ts
  src/handlers/error.handler.ts
  src/handlers/index.ts
Due: eslint --fix, prettier --write

feat(logger): integrate with discord webhook
  .env.example
  package.json
  src/Server.ts
  src/configs/env.ts
  src/configs/index.ts
  src/configs/logger.ts
  src/configs/logger/discord.ts
  src/types/log.d.ts
  src/utils/logger.ts
  yarn.lock
Due: eslint --fix, prettier --write

test: modify jest configs
  jest.config.js
  package.json
Due: eslint --fix, prettier --write

chore: change dto folder structure
  .barrelsby.json
  src/dtos/common/index.ts
  src/dtos/common/objectId.dto.ts
  src/dtos/in/auth.dto.ts
  tsconfig.json
Due: eslint --fix, prettier --write

test: reconfig jest & add additional tests
  README.md
  docker-compose.dev.yml
  jest.config.js
  package.json
  src/Server.ts
  src/configs/logger/discord.ts
  src/configs/swagger.ts
  src/handlers/__specs__/auth.spec.ts
  src/handlers/auth.handler.ts
  src/setupTest.ts
  src/types/log.d.ts
  src/types/serverConfig.d.ts
  src/utils/__tests__/sample.test.ts
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

docs: update README.md
  README.md
Due: none

chore: bump all package version
  package.json
  src/handlers/error.handler.ts
  yarn.lock
Due: eslint --fix, prettier --write
