Repository phucvinh57/fastify-template: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
    "**/*.{ts,js}": ["eslint --fix"],
    "**/*.{ts,js,json}": ["prettier --write"]
}

ci: update scripts
  .github/workflows/ci.yml
Due: none

chore: apply commit lint & remove old release settings
  .commitlintrc
  .husky/commit-msg
  CHANGELOG.md
  package.json
  tsconfig.json
  yarn.lock
Due: prettier --write

chore: reset package.json version
  package.json
Due: prettier --write

feat: set up release workflow using `semantic-release`
  .barrelsby.json
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .releaserc.json
  package.json
  src/Server.ts
  yarn.lock
Due: eslint --fix, prettier --write

ci: fix integration test
  .github/workflows/release.yml
Due: none

ci: fix missing envs
  .env.example
  .github/workflows/release.yml
  src/Server.ts
  src/configs/env.ts
  src/utils/logger.ts
Due: eslint --fix, prettier --write

ci: fix missing envs in set up environment step
  .github/workflows/release.yml
Due: none

ci: fix test db port
  .github/workflows/release.yml
Due: none

ci: fix run scripts
  .github/workflows/release.yml
Due: none

chore(release): 1.0.0-rc.1 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  9d32757bd567ae8db5290cac172fa40bb89b702c
Due: none

fix: github release error due to incorrect `successComment` message
  .github/workflows/release.yml
  .releaserc.json
Due: prettier --write

chore(release): 1.0.0-rc.2 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  402a1da7706a860b7e0adc6bfc852835edaced60
Due: none

fix: package.json version not update automatically
  .releaserc.json
  package.json
Due: prettier --write

ci: re-enable integration test
  .github/workflows/release.yml
Due: none

chore(release): 1.0.0-rc.3 on [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  803cf5d18e281ff203617eba82064fae0cfe7aa6
Due: none

ci: make `release` job wait for `test`[skip ci]
  .github/workflows/release.yml
Due: none

ci: ignore some files when trigger CI
  .github/workflows/release.yml
  .releaserc.json
Due: prettier --write

ci: bypass branch protection when push changelog notes & package.json version update
  .github/workflows/release.yml
Due: none

ci: use PAT token to commit release notes
  .github/workflows/release.yml
Due: none

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  2ff0820e831944bb612df79f8bcb2cb69343ba9b
Due: none
